/* tablet settings */

@media only screen and (max-width: 1000px) {
  .menu-container {
    width: 17vw;
  }
  .menu-container span {
    font-size: 1.5rem;
  }
  .menu-container a {
    font-size: 1.2rem;
  }
  .main-picture,
  .colors-of-bike {
    height: 50vw;
  }
  .main-picture h2 {
    font-size: 1rem;
  }
  .main-item {
    height: 50vw;
    margin: 5px;
  }
  .main-item h2 {
    font-size: 1rem;
  }
  .color-nav {
    flex-direction: column;
  }
  .color-nav .dot {
    width: 30px;
    height: 30px;
    margin: 5px;
  }
  .main-item#company-info {
    height: auto;
  }
  .main-item#company-info .info-container {
    font-size: 1rem;
  }
  .icon-descriptions .icon img {
    width: 15vw;
    height: 15vw;
    margin-right: 10vw;
  }
}

/* mobile settings */

@media only screen and (max-width: 600px) {
  .menu-container {
    padding: 0;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    align-items: center;
    border-radius: 0;
  }
  .menu-container span {
    font-size: 2rem;
    margin-top: 20px;
  }
  .menu-container a {
    font-size: 1.6rem;
  }
  .menu-container .link-container {
    justify-content: space-evenly;
  }
  .arrow {
    width: 10%;
    height: 40%;
  }
  .main-item.first form{
    display: flex;
    flex-direction: column;
  }
  .main-item.first form input[type=email]{
    width: 80%;
  }
  .main-item.first form input[type=submit]{
    width: 30%;
  }
  .main-item.first .mobile {
    display: block;
  }
  .color-nav .dot {
    width: 20px;
    height: 20px;
  }
  .main-picture.cta {
    position: relative;
  }
  .main-picture.cta form {
    margin-left: 10%;
    top: 100%;
  }
  .main-picture.cta form label {
    text-shadow: none;
    color: black;
  }
  .main-picture.cta form input[type=email]{
    width: 50%;
    border: inset var(--main-color) .5px;
    box-shadow: none;
  }
  .main-picture.cta form input[type=submit]{
    width: 20%;
    border: inset var(--main-color) .5px;
    box-shadow: none;
  }
  .gallery-container {
    grid-template-columns: repeat(1, 1fr);
    margin: 30% 0 10% 0;
    align-items: center;
  }
  .gallery-item {
    height: 90vw;
    box-shadow: 6px 6px 6px 6px rgb(196, 197, 197);
  }
  footer {
    flex-direction: column;
  }
}
