@media only screen and (max-width: 1000px) {
    .main-picture, .colors-of-bike {
      height: 200px;
    }
    .main-picture h2 {
      font-size: 1rem;
    }
    .main-item {
      height: 200px;
      margin: 5px;
    }
    .main-item h2 {
      font-size: 1rem;
    }
    .color-nav .dot {
      width: 10px;
      height: 10px;
      margin: 5px;
    }
}

@media only screen and (max-width: 600px) {
    .gallery-container {
      grid-template-columns: repeat(1, 1fr);
    }
    .gallery-item {
      height: 90vw;
      box-shadow: 6px 6px 6px 6px rgb(196, 197, 197);
    }
    footer {
      flex-direction: column;
    }
}