:root {
  background: white;
  --main-color: #162133;
}

@font-face {
  font-family: 'Dosis';
  src: url('fonts/Dosis-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Helvetica';
  src: url('fonts/Helvetica.woff') format('woff');
}

body {
  font-family: 'Helvetica';
  margin: 0;
  padding: 0;
}

form input[type=email]{
  height: 20px;
  width: 30vw;
  background: white;
  border: none;
  border-radius: 30px;
  padding: 10px;
  margin-right: 20px;
}

form input[type=submit]{
  height: 40px;
  width: 7vw;
  border: none;
  border-radius: 30px;
  background: white;
}

header {
  position: fixed;
  z-index: 1;
  width: 100%;
  align-items: center;
  background: white;
  display: grid;
  height: 90px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 'img header-title hamburger';
  color: var(--main-color);
}

header img {
  grid-area: img;
  width: 50px;
  height: 50px;
  margin-left: 20px;
}

header .title {
  grid-area: header-title;
  align-self: center;
  justify-self: center;
  font-size: 36px;
  font-family: 'Dosis', sans-serif;
}

.hamburger-menu {
  grid-area: hamburger;
  align-self: center;
  justify-self: end;
  margin-right: 20px;
}

.hamburger-menu div {
  width: 35px;
  height: 5px;
  background-color: var(--main-color);
  margin: 6px 0;
}

.menu-container {
  z-index: 2;
  display: none;
  flex-direction: column;
  font-family: 'Dosis', sans-serif;
  width: 13vw;
  height: 40%;
  align-items: left;
  padding: 20px;
  background-color: #162133;
  position: fixed;
  top: 20px;
  right: 20px;
  border-radius: 6px;
}

.menu-container .link-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  margin: 10px;
}

.menu-container span {
  font-size: 2rem;
  width: 100%;
  margin-right: 20%;
  color: white;
  display: flex;
  justify-content: flex-end;
  user-select: none;
}

.menu-container a {
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
}

.menu-container.on{
  display: flex;
}

main {
  display: flex;
  flex-wrap: wrap;
}


.main-picture, .colors-of-bike{
  width: 100%;
  height: 45vw;
}

.colors-of-bike {
  position: relative;
}

.main-item.quote {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-picture h2 {
  font-size: 2rem;
}

.main-picture.first {
  margin-top: 90px;
  height: 45vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-picture.first h2 {
  padding-bottom: 12%;
  font-size: 2rem;
  position: absolute;
  color: white;
  font-family: 'Dosis';
  text-shadow: -1px 0 black;
}

.arrow {
  position: absolute;
  background: url(img/Subtract.png);
  background-size: contain;
  width: 5%;
  height: 20%;
  background-repeat: no-repeat;
}

.arrow.left {
  display: none;
  left: 0;
  transform: scaleX(-1);
}

.arrow.left.on {
  display: block;
}

.arrow.right {
  display: none;
  right: 0;
}

.arrow.right.on {
  display: block;
}

.first-picture {
  width: 100%;
  height: 100%;
  background: url(img/cropped1.png) white;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-item {
  width: 100%;
  height: 45vw;
  background: white;
}

.main-item h2 {
  position: relative;
  text-align: center;
  font-size: 2rem;
}

.main-item.first {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-item .mobile {
  display: none;
}

.main-item.first img {
  width: 20%;
  height: 40%;
}

.main-item.first form {
  margin-left: 10%;
}

.main-item form input[type=email]{
  border: inset var(--main-color) .5px;
}

.main-item form input[type=submit]{
  border: inset var(--main-color) .5px;
}

.main-picture.icons {
  width: 100%;
  height: 50vw;
  background: url(bilder/converted/lightcycleoverlay.webp) white;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-picture.cta {
  background: url(bilder/insida\ lightcycle\ dashboarden.png) white;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vw;
}

.background-blue {
  height: inherit;
  width: inherit;
  display: none;
  background: url(bilder/converted/mörkblå\ lightc\ grå.webp) #999999;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-blue.on {
  display: block;
}

.background-pink {
  height: inherit;
  width: inherit;
  display: none;
  background: url(bilder/converted/rosa\ lightc\ grå.webp) #999999;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-pink.on {
  display: block;
}

.background-white {
  height: inherit;
  width: inherit;
  display: none;
  background: url(bilder/converted/vit\ lightc\ grå.webp) #999999;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-white.on {
  display: block;
}

.color-nav {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 5px;
}

.color-nav .dot {
  width: 30px;
  height: 30px;
  border-radius: 9999999px;
  margin: 10px;
}

.dot.blue {
  background: #161a2f;
}

.dot.pink {
  background: pink;
}

.dot.white {
  background: white;
}

.main-item#company-info h2{
  font-family: 'Dosis';
  font-size: 3rem;
}

.main-item#company-info .info-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  font-size: 1.5rem;
  padding: 5px;
  box-shadow: inset 0 0 5px;
}

.icon-descriptions {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.icon-descriptions .icon{
  display: flex;
  align-items: center;
  margin: 5px;
}

.icon-descriptions .icon img{
  width: 5vw;
  height: 5vw;
  margin-right: 5vw;
}

.main-item.icon-descriptions {
  height: auto;
}

.main-picture.cta {
  position: relative;
  display: flex;
  justify-content: center;
}

.main-picture.cta form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  padding-top: 3%;
  position: absolute;
  top: 0;
}

.main-picture.cta form .input-container {
  margin: 10px;
  display: flex;
}

.main-picture.cta form label {
  color: white;
  text-shadow: -1px 0 black;
}

.main-picture.cta form input[type=email]{
  box-shadow: 0 0 20px #FFAAE3;
}

.main-picture.cta form input[type=submit]{
  box-shadow: 0 0 20px #FFAAE3;
}

.merch-title {
  text-align: center;
  width: 100%;
  font-size: 3rem;
  font-family: 'Dosis';
  padding-top: 5%;
}

.gallery-container {
  margin: 5% 0 5% 0;
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
}

.gallery-item {
  display: flex;
  box-shadow: 10px 10px 12px 12px rgb(196, 197, 197);
  justify-content: center;
  align-items: center;
  background: url(/img/test.png);
  background-position: 50% 50%;
  color: black;
  background-size: cover;
  margin: 1rem;
  border-radius: 50%;
  height: 31vw;
}

.gallery-item.first {
  background: url(/img/laddarelight.png);
  background-position: 50% 50%;
  background-size: cover;
}

.gallery-item.second {
  background: url(/img/takeaway-muggar-lclogga.png);
  background-position: 50% 50%;
  background-size: cover;
}

.gallery-item.third {
  background: url(/img/mobilhållare-till-bil.png);
  background-position: 50% 50%;
  background-size: cover;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: white;
  color: var(--main-color);
  font-family: 'Dosis', sans-serif;
}
