:root {
  background: white;
  --main-color: #162133;
}

body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  align-items: center;
  background: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 'img header-title hamburger';
  color: var(--main-color);
}

header img {
  grid-area: img;
  width: 50px;
  height: 50px;
  margin-left: 20px;
}

header .title {
  grid-area: header-title;
  align-self: center;
  justify-self: center;
  font-size: 5vh;
  font-family: 'Dosis', sans-serif;
}

.hamburger-menu {
  grid-area: hamburger;
  align-self: center;
  justify-self: end;
  margin-right: 20px;
}

.hamburger-menu div {
  width: 35px;
  height: 5px;
  background-color: var(--main-color);
  margin: 6px 0;
}


main {
  display: flex;
  flex-wrap: wrap;
}

.main-item {
  width: 100%;
  height: 90vh;
  background: white;
}

.main-item h2 {
  position: relative;
  text-align: center;
  font-style: italic;
  font-size: 2rem;
}

/* Change the background to instead use a different background for every class.*/

.main-picture {
  background: url(/img/test.png) #999999;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-picture,.colors-of-bike {
  width: 100%;
  height: 90vh;
}

.colors-of-bike {
  position: relative;
}

.main-picture h2 {
  font-size: 2rem;
}

.background-blue {
  height: inherit;
  width: inherit;
  display: none;
  background: url(/img/mörkblå\ lc\ 1.png) #999999;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-blue.on {
  display: block;
}

.background-pink {
  height: inherit;
  width: inherit;
  display: none;
  background: url(/img/rosa\ lc\ 1.png) #999999;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-pink.on {
  display: block;
}

.background-white {
  height: inherit;
  width: inherit;
  display: none;
  background: url(/img/vit\ lc\ 1.png) #999999;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-white.on {
  display: block;
}

.color-nav {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 5px;
}

.color-nav .dot {
  width: 30px;
  height: 30px;
  border-radius: 9999999px;
  margin: 10px;
}

.dot.blue {
  background: #161A2F;
}

.dot.pink {
  background: pink;
}

.dot.white {
  background: white;
}


.gallery-container {
  margin: 5% 0 5% 0;
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
}

.gallery-item {
  display: flex;
  box-shadow: 10px 10px 12px 12px rgb(196, 197, 197);
  justify-content: center;
  align-items: center;
  background: url(/img/test.png);
  background-position: 50% 50%;
  color: black;
  background-size: cover;
  margin: 1rem;
  border-radius: 50%;
  height: 31vw;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: white;
  color: var(--main-color);
  font-family: 'Dosis', sans-serif;
}